@import "tailwindcss";

/**********************************************
*************CUSTOM BREAKPOINTS**************
* xxs --> very small mobile --> range: 0px to 319px --> range in rem: 0 to 20rem
* xs --> very small mobile --> range: 320px to 427px --> range in rem: 20rem to 26rem
* sm --> very small mobile --> range: 428px to 767px --> range in rem: 26rem to 48rem
* md --> very small mobile --> range: 768px to 1023px --> range in rem: 48rem to 64rem
* lg --> very small mobile --> range: 1024px to 1439px --> range in rem: 64rem to 90rem
* xl --> very small mobile --> range: 1440px to 1599px --> range in rem: 90rem to 100rem
* 2xl --> very small mobile --> range: 1600px to 1919px --> range in rem: 100rem to 120rem
* 3xl --> very small mobile --> range: 1920px to Any Resolution --> range in rem: 120rem to
*/

@theme {
  --breakpoint-*: initial;
  --breakpoint-xxs: 0px;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 428px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1600px;
  --breakpoint-3xl: 1920px;
}

/******************************************Login Page Styles**********************************************************/

.parent-container {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(66, 1, 123, 0.8) 100%
    ),
    linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(66, 1, 123, 0.8) 100%
    ),
    url("../public/assets/fswd_logo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
