@import 'tailwindcss';

body {
   
  background: linear-gradient(247.74deg, #000000 -6.73%, #42017b 99.32%);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* background: linear-gradient(237.74deg, #000000 -16.73%, #42017B 29.32%); */
